<div class="dlg">
  <div class="dlg__title">Integrantes del Liderazgo</div>

  <!-- Barra agregar -->
  <!-- <div class="bar">
    <mat-form-field appearance="outline" class="w-40">
      <mat-label>Buscar persona</mat-label>
      <input type="text" matInput [formControl]="personaCtrl" [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectPerson($event.option.value)">
        <mat-option *ngFor="let p of filteredPeople$ | async" [value]="p">
          {{ p.nombre }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-24">
      <mat-label>Rol</mat-label>
      <mat-select [formControl]="rolCtrl">
        <mat-option *ngFor="let r of roles" [value]="r.id">{{ r.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-24">
      <mat-label>Desde</mat-label>
      <input matInput type="date" [formControl]="fechaCtrl"/>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="agregar()">+ Agregar</button>
  </div> -->

  <!-- Tabla -->
  <div class="table-wrap" *ngIf="!cargando; else loading">
    <table mat-table [dataSource]="miembros">
      <ng-container matColumnDef="persona">
        <th mat-header-cell *matHeaderCellDef>Persona</th>
        <td mat-cell *matCellDef="let m">{{ m.nombrePersona }}</td>
      </ng-container>

      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef>Rol</th>
        <td mat-cell *matCellDef="let m">{{ m.nombreRol || '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="desde">
        <th mat-header-cell *matHeaderCellDef>Desde</th>
        <td mat-cell *matCellDef="let m">{{ m.desde || '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let m">
          <button mat-stroked-button color="warn" (click)="desactivar(m)">Desactivar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="empty" *ngIf="miembros.length === 0">Sin integrantes.</div>
  </div>

  <ng-template #loading>
    <div class="loading">Cargando…</div>
  </ng-template>

  <div class="dlg-actions">
    <button mat-stroked-button color="primary" (click)="cerrar()">Cerrar</button>
  </div>
</div>
