<h2 mat-dialog-title>Nueva familia</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Nombre de familia</mat-label>
    <input matInput [formControl]="name" />
    <mat-error *ngIf="name.invalid">Requerido</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="saving">Guardar</button>
</mat-dialog-actions>
