<!-- src/app/components/login/login.component.html -->
<div class="login-wrap">
  <div class="login-header">
    <h1>ASAMBLEA DE DIOS SAMARIA</h1>
  </div>

  <div class="login-card">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="form.get('username')?.touched && form.get('username')?.invalid">
          Campo obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
          Campo obligatorio
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="w-full" type="submit" [disabled]="cargando">
        {{ cargando ? 'Ingresando...' : 'Iniciar sesión' }}
      </button>

      <div class="text-center mt-3">
        <a class="forgot-link" (click)="abrirCambiarPassword()">¿Deseas cambiar tu contraseña?</a>
      </div>
    </form>
  </div>
</div>
