<div class="finz">
  <!-- HEADER -->
  <div class="finz__header">FINANZAS</div>
  <br />
    <br />
      <br />
        <br />

  <!-- KPI superiores -->
  <section class="kpis">
    <div class="kpi">
      <label>Total de Ingresos</label>
      <div class="kinput">Q {{ (selected?.incomes ?? 0) | number:'1.2-2' }}</div>
    </div>
    <div class="kpi">
      <label>Total de Egresos</label>
      <div class="kinput">Q {{ (selected?.expenses ?? 0) | number:'1.2-2' }}</div>
    </div>
    <div class="kpi">
      <label>Saldo</label>
      <div class="kinput">Q {{ (((selected?.incomes ?? 0) - (selected?.expenses ?? 0)) | number:'1.2-2') }}</div>
    </div>
  </section>

    <br />
      <br />
        <br />
          <br />

  <!-- TESORERÍAS -->
  <section class="tre">
    <!-- fila 1: chips centrados -->
    <div class="tre__chips">
      <button class="chip chip--gray"  (click)="setStatusFilter('Inactivo')">Inactivo</button>
      <button class="chip chip--green" (click)="setStatusFilter('Activo')">Activo</button>
      <button class="chip chip--light" (click)="setStatusFilter('Todos')">Todo</button>
    </div>

    <!-- fila 2: botón izq + buscador der -->
    <div class="tre__toolbar">
      <button class="btn btn--primary" (click)="openAddTesoreria()">+ Agregar Tesorería</button>

      <div class="search">
        <mat-icon>search</mat-icon>
        <input [formControl]="searchTreas" placeholder="Buscar" />
        <button *ngIf="searchTreas.value" (click)="searchTreas.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <!-- tabla -->
    <div class="tre__table">
      <table mat-table [dataSource]="treasuries">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let t">
            <a class="tre-link" (click)="selectTreasury(t)">{{ t.name }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="ingresos">
          <th mat-header-cell *matHeaderCellDef>Ingresos</th>
          <td mat-cell *matCellDef="let t">Q {{ t.incomes | number:'1.2-2' }}</td>
        </ng-container>

        <ng-container matColumnDef="egresos">
          <th mat-header-cell *matHeaderCellDef>Egresos</th>
          <td mat-cell *matCellDef="let t">Q {{ t.expenses | number:'1.2-2' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedTreColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedTreColumns"></tr>
      </table>
    </div>
  </section>

    <div class="footer">
    <button mat-stroked-button color="primary" (click)="regresar()">Regresar</button>
  </div>
</div>
