<h2 mat-dialog-title>Crear Evento</h2>

<mat-dialog-content class="dlg">
  <div class="hint" *ngIf="data?.liderazgoNombre">Para: <b>{{ data.liderazgoNombre }}</b></div>

  <form [formGroup]="form" class="grid">
    <mat-form-field appearance="outline">
      <mat-label>Nombre del evento</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="form.get('nombre')?.hasError('required')">Requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="dp" formControlName="fecha" />
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
      <mat-error *ngIf="form.get('fecha')?.hasError('required')">Requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Descripción (opcional)</mat-label>
      <textarea matInput rows="3" formControlName="descripcion"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>
