<div class="miembros">
  <!-- ENCABEZADO -->
  <div class="miembros__header">MIEMBROS</div>

  <!-- TOOLBAR -->
  <div class="miembros__toolbar">
    <div class="miembros__btns">
      <button mat-raised-button class="btn btn--primary" (click)="agregarPersona()">
        + Agregar Persona
      </button>

      <button mat-raised-button class="btn btn--primary" (click)="agregarFamilia()">
        + Agregar Familia
      </button>
    </div>

    <div class="miembros__search">
      <mat-icon>search</mat-icon>
      <input [formControl]="search" placeholder="Buscar" />
    </div>
  </div>

  <!-- TABLA -->
  <div class="miembros__table">
    <table mat-table [dataSource]="filtered" class="custom-table">

      <!-- NOMBRE -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let r">{{ r.nombre }}</td>
      </ng-container>

      <!-- ACCIONES -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-raised-button
            class="btn btn--primary btn--sma"
            (click)="verFicha(row.id, row.nombre)">
            Ver ficha
          </button>

          <button
            mat-raised-button
            class="btn btn--accent btn--sma"
            *ngIf="esAdministrador()"
            (click)="crearUsuarioPara(row)">
            Crear usuario
          </button>
        </td>
      </ng-container>

      <!-- FILAS -->
      <tr mat-header-row *matHeaderRowDef="['nombre', 'acciones']" class="gradient-header"></tr>
      <tr mat-row *matRowDef="let row; columns: ['nombre', 'acciones']"></tr>
    </table>
  </div>

  <!-- FOOTER -->
  <div class="miembros__footer">
    <button mat-stroked-button color="primary" (click)="regresar()">Regresar</button>
  </div>
</div>
