<h2 mat-dialog-title>Agregar Tesorería</h2>

<mat-dialog-content [formGroup]="form" class="grid gap-3">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Nombre de la tesorería</mat-label>
    <input matInput formControlName="nombre" autocomplete="off" />
    <mat-error *ngIf="form.get('nombre')?.hasError('required')">Requerido</mat-error>
    <mat-error *ngIf="form.get('nombre')?.hasError('maxlength')">Máx. 120 caracteres</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Estado</mat-label>
    <mat-select formControlName="estado">
      <mat-option [value]="true">Activo</mat-option>
      <mat-option [value]="false">Inactivo</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardar()" [disabled]="form.invalid || saving">
    Guardar
  </button>
</mat-dialog-actions>
